body{ /*this does not work yeat*/
  display: grid;
  background-color: gray;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    ". header ."
    ". main ."
    ". des ."
  ;
  flex-direction: column;
}

.tittle{
  grid-area: header;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.picture{
  grid-area: main;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.description{
  grid-area: des;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.changeColor{
  fill: pink;
}

.changeColor:hover{
  fill: red;
}

.changeSize{
  animation-name: enhance;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin:15.887px 29.88px;
  animation-play-state: paused;
}

.changeSize:hover{
  animation-play-state: running;
}

@keyframes enhance {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(5);
  }
}
