body{
  display: grid;
  background-color: gray;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    ". header ."
    ". main ."
    ". des ."
    ". doc ."
  ;
}

.tittle,
.picture,
.description,
.documentation
{
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.tittle {
  grid-area: header;
}
.picture{
  grid-area: main;
}
.description{
  grid-area: des;
}
.documentation{
  grid-area: doc;
}


.changeColor{
  fill: pink;
}

.changeColor:hover{
  fill: red;
}

.changeSize{
  animation-name: enhance;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin:15.887px 29.88px;
  animation-play-state: paused;
}

.changeSize:hover{
  animation-play-state: running;
}

@keyframes enhance {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(5);
  }
}
